<div class="span12 nomarg" id="profile-container">
  <div class="row-fluid">
    <div class="span3 profile-left-container">
      <h3>PT. Gemlang Pratama Polikem</h3>
      <div class="content span12 nomarg">
        <i class="icon-home pull-left"></i>
        <p class="pull-left description">Jl. Sesame Street</p>
      </div>
      <div class="content span12 nomarg">
        <i class="icon-map-marker pull-left"></i>
        <p class="pull-left description">Cimahi</p>
      </div>
      <div class="content span12 nomarg">
        <i class="icon-home pull-left"></i>
        <p class="pull-left description">Jl. Sesame Street</p>
      </div>
      <div class="content span12 nomarg">
        <i class="icon-home pull-left"></i>
        <p class="pull-left description">Jl. Sesame Street</p>
      </div>
      <div class="content span12 nomarg">
        <i class="icon-home pull-left"></i>
        <p class="pull-left description">Jl. Sesame Street</p>
      </div>
      <div class="content span12 nomarg">
        <i class="icon-home pull-left"></i>
        <p class="pull-left description">Jl. Sesame Street</p>
      </div>
      <div class="content span12 nomarg">
        <i class="icon-home pull-left"></i>
        <p class="pull-left description">Jl. Sesame Street</p>
      </div>
    </div>
    <div class="span9 profile-right-container">
      <div class="span12 title-container">
        <h2 class="pull-left">
          about us.
        </h2>
      </div>
      <div class="span12 nomarg profile-description">
        <p class="pull-left">
          Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
        </p>
      </div>
      <div class="span12 nomarg separator"></div>
      <div class="span12 nomarg title-container">
        <h2 class="pull-left span12">
          locations.
        </h2>
      </div>
      <div class="span12 nomarg profile-location">
        <div class="span12 nomarg">
          <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=Cimahi,Indonesia&zoom=13&size=600x300&maptype=roadmap
  &markers=color:blue%7Clabel:S%7CCimahi,Indonesia&sensor=false" %>
          <p class="span6">
            Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
          </p>
        </div>
      </div>
      <div class="span12 nomarg separator"></div>
      <div class="span12 nomarg title-container">
        <h2 class="pull-left">
          promotions.
        </h2>
      </div>
      <div class="span12 nomarg profile-description">
        <div id="productCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li class="active" data-target="productCarousel" data-slide-to="0"></li>
            <li data-target="productCarousel" data-slide-to="0"></li>
            <li data-target="productCarousel" data-slide-to="1"></li>
            <li data-target="productCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active" style="background: url('/assets/2.jpg') no-repeat center center; height: 300px">
              <br/ >
              <p>
                Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
              </p>
            </div>
            <div class="item">
              <%= image_tag "/assets/3.jpg" %>
            </div>
            <div class="item">
              <%= image_tag "/assets/2.jpg" %>
            </div>
          </div>
          <%= link_to "", "#productCarousel", data: {slide: "prev"}, class: "carousel-control left" %>
          <%= link_to "", "#productCarousel", data: {slide: "next"}, class: "carousel-control right" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :javascript_contents do  %>
  <%= javascript_include_tag "/assets/bootstrap-carousel" %>
<% end %>
<script type="text/javascript">
  $('.carousel').carousel("pause")
</script>

