<div class="span12 nomarg" id="trick-container">
  <div class="row-fluid">
    <div class="span3 trick-left-container">
      <div class="title-container">
        <h3 class="title pull-left">
          Tips and Tricks
        </h3>
      </div>
      <div class="trick-menu-container">
        <div class="content span12">
          <% @tricks.each do |trick| %>
            <%= link_to trick.title, trick_path(trick.id), class: "pull-left trick-link" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span9 trick-right-container">
      <% @tricks.each do |trick| %>
        <div class="content span12">
          <div class="left-container">
            <% if trick.image.blank? %>
              <%= image_tag trick.image %>
            <% else %>
              <%= image_tag "/assets/noImageAvailable.png" %>
            <% end %>
          </div>
          <div class="right-container">
            <h5 class="title"><%= trick.title %></h5>
            <div class="date"><%= distance_of_time_in_words(trick.created_at) %></div>
            <div class="description">
              <p>
                <%= trick.description %>
                <%= link_to "read more", trick_path(trick.id) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
