<div class="span12 nomarg" id="trick-container">
  <div class="row-fluid">
    <div class="span3 trick-left-container">
      <div class="title-container">
        <h3 class="title pull-left">
          Tips and Tricks
        </h3>
      </div>
      <div class="trick-menu-container">
        <div class="content span12">
          <%= link_to "Title","javascript:void(0);", class: "pull-left trick-link" %>
          <%= link_to "Title","javascript:void(0);", class: "pull-left trick-link" %>
          <%= link_to "Title","javascript:void(0);", class: "pull-left trick-link" %>
          <%= link_to "Title","javascript:void(0);", class: "pull-left trick-link" %>
        </div>
      </div>
    </div>
    <div class="span9 trick-right-container">
      <div class="content span12">
        <div class="left-container">
          <%= image_tag "/assets/noImageAvailable.png" %>
        </div>
        <div class="right-container">
          <h5 class="title">Title</h5>
          <div class="date">cerated at</div>
          <div class="description">
            <p>
              Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum.
              <%= link_to "read more", "javascript:void(0);" %>
            </p>
          </div>
        </div>
      </div>
      <div class="content span12">
        <div class="left-container">
          <%= image_tag "/assets/noImageAvailable.png" %>
        </div>
        <div class="right-container">
          <h5 class="title">Title</h5>
          <div class="date">cerated at</div>
          <div class="description">
            <p>
              Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum.
              <%= link_to "read more", "javascript:void(0);" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
