<div class="span12 nomarg" id="gallery-container">
  <div class="row-fluid">
    <% unless @galleries.empty? %>
      <% @galleries.each do |gallery| %>
        <div class="span4 gallery-content nomarg">
          <% if !gallery.image.blank? %>
            <%= link_to "#image-#{gallery.id}", id: "images-#{gallery.id}" do %>
              <%= image_tag gallery.image, class: "image", id: "#{gallery.id}" %>
            <% end %>
          <% else %>
            <%= link_to gallery_path(gallery.id) do %>
              <%= image_tag "/assets/noImage.jpg", class: "image", id: "#{gallery.id}" %>
            <% end %>
          <% end %>
        </div>
        <%= render "modal_gallery", gallery: gallery %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="paginate">
  <%= paginate @galleries %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#images-"+$(".image").attr("id")).click(function(){
    $("#image-"+$(".image").attr("id")).modal("toggle");
  });

  $(function(){
    $('#gallery-container').masonry({
      // options
      itemSelector: ".gallery-content",
      isAnimated: true,
      animationOptions: {
        duration: 750,
        easing: 'linear',
        queue: false
      }
    });
  });
});
</script>
