<div class="span12 nomarg" id="promotion-container">
  <div class="row-fluid">
    <% unless @promotions.empty? %>
      <% @promotions.each do |promotion| %>
        <div class="span4 promotion-content nomarg">
          <% if !promotion.image.blank? %>
            <%= link_to "#promotion-#{promotion.id}", id: "promotions-#{promotion.id}" do %>
              <%= image_tag promotion.image, class: "promotion", id: "#{promotion.id}" %>
            <% end %>
          <% else %>
            <%= link_to "#promotion-#{promotion.id}", id: "promotions-#{promotion.id}" do %>
              <%= image_tag "/assets/noImage.jpg", class: "promotion", id: "#{promotion.id}" %>
            <% end %>
          <% end %>
          <h1><%= promotion.title %></h1>
          <p class="pull-left"><%= truncate(promotion.description, length: 125) %></p>
        </div>
        <%= render "modal_promotion", promotion: promotion %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="paginate">
  <%= paginate @promotions %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#promotions-"+$(".promotion").attr("id")).click(function(){
    $("#promotion-"+$(".promotion").attr("id")).modal();
  });

  $(function(){
    $('#promotion-container').masonry({
      // options
      itemSelector: ".promotion-content",
      isAnimated: true,
      animationOptions: {
        duration: 500,
        easing: 'linear',
        queue: false
      }
    });
  });
});
</script>
