<div class="span12 nomarg products-container">
  <h3 class="title-container">Our Products</h3>
  <div class="product-content">
    <div class="item span4 nomarg">
      <div class="image-container">
        <div class="name hide">
          <p class="pull-left">
            = "name"
          </p>
        </div>
        <%= link_to image_tag("/assets/2.jpg", class: "image image-1", data: {toggle: "modal"}) %>
        <div class="description pull-left">
          <p>
            Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum sum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
          </p>
        </div>
      </div>
    </div>
    <div class="item span4 nomarg">
      <div class="image-container">
        <%= link_to image_tag("/assets/2.jpg", class: "image image-1", data: {toggle: "modal"}) %>
        <div class="description pull-left">
          <p>
            Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum sum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
          </p>
        </div>
      </div>
    </div>
    <div class="item span4 nomarg">
      <div class="image-container">
        <%= link_to image_tag("/assets/2.jpg", class: "image image-1", data: {toggle: "modal"}) %>
        <div class="description pull-left">
          <p>
            Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum sum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
          </p>
        </div>
      </div>
    </div>
    <div class="item span4 nomarg">
      <div class="image-container">
        <%= link_to image_tag("/assets/2.jpg", class: "image image-1", data: {toggle: "modal"}) %>
        <div class="description pull-left">
          <p>
            Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum sum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
          </p>
        </div>
      </div>
    </div>
    <div class="item span4 nomarg">
      <div class="image-container">
        <%= link_to image_tag("/assets/2.jpg", class: "image image-1", data: {toggle: "modal"}) %>
        <div class="description pull-left">
          <p>
            Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum sum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum Lorem ipsum dipsum
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
