<!DOCTYPE html>
<html>
<head>
  <title>Enterprise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :stylesheet_contents %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_contents %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid nopad">
    <div class="navbar navbar-custom nomarg navbar-fixed-top">
      <div class="navbar-inner no-radius">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <i class="icon-list"></i>
        </a>
        <div class="navbar-inverse nav pull-left">
          <a class="btn btn-navbar child-menu" data-toggle="collapse" data-target=".nav-collapse2" style="margin-left: 0;">
            <i class="icon-home"></i>
          </a>
        </div>
        <div class="container">
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="active">
                <%= link_to root_path, class: "home" do %>
                  <small>Home</small>
                <% end %>
              </li>
              <li class="dropdown">
                <%= link_to "javascript:void(0);",id: "dLabel", role: "button", data: {toggle: "dropdown", target: "#"}, class: "dropdown-toggle" do %>
                  <small>About Us</small>
                  <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li role="presentation">
                    <%= link_to products_index_path, class: "product", role: "menuitem", tabindex: "-1" do %>
                      <small>Products</small>
                    <% end %>
                  </li>
                  <li role="presentation">
                    <%= link_to profiles_index_path, class: "promotion", role: "menuitem", tabindex: "-1" do %>
                      <small>Promotions</small>
                    <% end %>
                  </li>
                  <li role="presentation">
                    <%= link_to profiles_index_path, class: "aboutus", role: "menuitem", tabindex: "-1" do %>
                      <small>Our Profile</small>
                    <% end %>
                  </li>
                </ul>
              </li>
              <li class="">
                <%= link_to profiles_index_path, class: "language" do %>
                  <small>Language</small>
                <% end %>
              </li>
              <li class="">
                <%= link_to profiles_index_path, class: "order" do %>
                  <small>Order</small>
                <% end %>
              </li>
              <li class="">
                <%= link_to profiles_index_path, class: "ouragent" do %>
                  <small>Our Agents</small>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if params[:controller].eql?("dashboard") %>
    <div class="container">
      <div class="span2 text-center padv-20">
        <%= image_tag "/assets/noImage.jpg" %>
      </div>
    </div>
  <% end %>
  <div class="container" style="margin-top: 3%;">
    <%= yield %>
  </div>
  <% if params[:controller].eql?("dashboard") %>
    <div class="container">
      <div class="footer">
        copyright &copy; 2013
      </div>
    </div>
  <% end %>
  <script type="text/javascript">
    $(".dropdown-toggle").dropdown();
  </script>
</body>
</html>
