<!DOCTYPE html>
<html>
<head>
  <title>Enterprise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :stylesheet_contents %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_contents %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container-fluid nopad">
    <div class="navbar nomarg navbar-fixed-top">
      <div class="navbar-inner no-radius">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <i class="icon-home"></i>
        </a>
        <div class="container">
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <% if params[:controller].eql? "dashboard" %>
                <li class="home active">
                  <%= link_to dashboard_path, data: {no_turbolink: true} do %>
                    <small>Home</small>
                  <% end %>
                </li>
              <% else %>
                <li class="home">
                <%= link_to dashboard_path, data: {no_turbolink: true} do %>
                  <small>Home</small>
                <% end %>
              </li>
              <% end %>
              <% if params[:controller].eql?("products") || params[:controller].eql?("promotions") || params[:controller].eql?("profiles")  %>
                <li class="dropdown about-us active">
                  <%= link_to "javascript:void(0);",id: "dLabel", role: "button", data: {toggle: "dropdown", target: "#"}, class: "dropdown-toggle", data: {no_turbolink: true} do %>
                    <small>About Us</small>
                    <b class="caret"></b>
                  <% end %>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation">
                      <%= link_to products_path, class: "product", role: "menuitem", tabindex: "-1", data: {no_turbolink: true} do %>
                        <small>Products</small>
                      <% end %>
                    </li>
                    <li role="presentation">
                      <%= link_to profiles_path, class: "promotion", role: "menuitem", tabindex: "-1", data: {no_turbolink: true} do %>
                        <small>Promotions</small>
                      <% end %>
                    </li>
                    <li role="presentation">
                      <%= link_to profiles_path, class: "aboutus", role: "menuitem", tabindex: "-1", data: {no_turbolink: true} do %>
                        <small>Our Profile</small>
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li class="dropdown about-us">
                  <%= link_to "javascript:void(0);",id: "dLabel", role: "button", data: {toggle: "dropdown", target: "#"}, class: "dropdown-toggle", data: {no_turbolink: true} do %>
                    <small>About Us</small>
                    <b class="caret"></b>
                  <% end %>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation">
                      <%= link_to products_path, class: "product", role: "menuitem", tabindex: "-1", data: {no_turbolink: true} do %>
                        <small>Products</small>
                      <% end %>
                    </li>
                    <li role="presentation">
                      <%= link_to promotion_path, class: "promotion", role: "menuitem", tabindex: "-1", data: {no_turbolink: true} do %>
                        <small>Promotions</small>
                      <% end %>
                    </li>
                    <li role="presentation">
                      <%= link_to profiles_path, class: "aboutus", role: "menuitem", tabindex: "-1", data: {no_turbolink: true} do %>
                        <small>Our Profile</small>
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% end %>
              <% if params[:controller].eql? "tricks" %>
                <li class="trick active">
                  <%= link_to tip_and_trick_path, data: {no_turbolink: true} do %>
                    <small>Tips and Trick</small>
                  <% end %>
                </li>
              <% else %>
                <li class="trick">
                  <%= link_to tip_and_trick_path, data: {no_turbolink: true} do %>
                    <small>Tips and Trick</small>
                  <% end %>
                </li>
              <% end %>
              <% if params[:controller].eql? "orders" %>
                <li class="order active">
                  <%= link_to profiles_path, data: {no_turbolink: true} do %>
                    <small>Order</small>
                  <% end %>
                </li>
              <% else %>
                <li class="order">
                  <%= link_to order_path, data: {no_turbolink: true} do %>
                    <small>Order</small>
                  <% end %>
                </li>
              <% end %>
              <% if params[:controller].eql? "galleries" %>
                <li class="gallery active">
                  <%= link_to profiles_path, data: {no_turbolink: true} do %>
                    <small>Gallery</small>
                  <% end %>
                </li>
              <% else %>
                <li class="gallery">
                  <%= link_to gallery_path, data: {no_turbolink: true} do %>
                    <small>Gallery</small>
                  <% end %>
                </li>
              <% end %>
              <% if params[:controller].eql? "contacts" %>
                <li class="contact-us active">
                  <%= link_to contact_us_path, data: {no_turbolink: true} do %>
                    <small>Contact Us</small>
                  <% end %>
                </li>
              <% else %>
                <li class="contact-us">
                  <%= link_to contact_us_path, data: {no_turbolink: true} do %>
                    <small>Contact Us</small>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 3%;">
    <%= yield %>
  </div>
  <div class="container">
    <div class="footer">
      copyright &copy; PT. Gemilang Pratama Polikem 2013
    </div>
  </div>
  <script type="text/javascript">
    $(".dropdown-toggle").dropdown()
  </script>
</body>
</html>
